#tercero{
    transition: 0.1s ;
    display: flex;
    justify-content: space-between;
    margin: 1% auto;
    width: 75%;
    height: 30vh;
    
}


@media (min-width: 768px){
  
}
.front img{
      border-radius: 15px;
}
#tercero > div{
    transition:  0.7 ease;
     transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    width: 23%;
    border-radius: 10px;
    
}

   #tercero >div:hover >.front{
    
    -webkit-transform:perspective(600px) rotateY(180deg);
}

#tercero >div:hover >.back{
    
   
    -webkit-transform:perspective(600px) rotateY(0deg);
} 
  

.front{
     border-radius: 15px;
-webkit-box-shadow: -2px 1px 32px -7px rgba(0,0,0,0.87); 
box-shadow: -2px 1px 32px -7px rgba(0,0,0,0.87);
    -webkit-visibility:hidden;
    -webkit-transform:perspective(600px) rotateY(0deg);
    transform:perspective(600px) rotateY(0deg);
    height: 100%;
    position: absolute;
    width: 100%;
    transition:transform .5s linear 0s;
     backface-visibility: hidden;
}

.back{
     border-radius: 15px;
    overflow:hidden;
     word-wrap: break-word;
   
   
     justify-content: center;
   align-items: center;
-webkit-box-shadow: -2px 1px 32px -7px rgba(0,0,0,0.87); 
box-shadow: -2px 1px 32px -7px rgba(0,0,0,0.87);
    -webkit-visibility:hidden;
    -webkit-transform:perspective(600px) rotateY(180deg);
    transform:perspective(600px) rotateY(180deg);
    height: 100%;
    position: absolute;
    width: 100%;
    transition:transform .5s linear 0s;
    backface-visibility: hidden;
}
.back p{  word-wrap: break-word;
    overflow: hidden;
   font-family: 'Amatic SC', cursive;
    color: rgb(255, 244, 227);
        width: 80%;
    display: block;
    margin: auto;
     font-weight: 800;
    font-size: 1.5em;
    text-align: center;
}
.back h1{  font-size-adjust: auto;
    overflow: hidden;
    text-align: center;
     font-family: 'Sniglet', cursive;
    color: rgb(255, 244, 227);
   
}
.back h1{
   
}
#back_uno{
    background:#007369;
}
#back_dos{
    background: #E84A5F;
}
#back_tres{
    background: #282E33;
}
#back_cuatro{
    background: #D6D8C9;
    
}
#back_cuatro p{
    color:black;
    font-weight: 800;
}
#back_cuatro h1{
    color:black;
    font-weight: 800;
}
#back_cinco{
    background: #F3ECE0;
}
#back_cinco p{
     font-size: 1.3em;
    color:black;
      font-weight: 800;
}
#back_cinco h1{
    color:black;
      font-weight: 800;
}
#back_cinco input{
    border: 2px solid black;
}
#back_seis{
    background: #997656;
}
#back_siete{
    background: white;
}
#back_siete h1{
    color:black;
}
#back_siete p{
    color: black;
}
#back_ocho{
    background: #384001;
}
.back a{
    text-decoration: none;
}
.back input{
    position: absolute;
    bottom: 0;
    border: none;
     font-size: 1.2em;
    font-weight: 700;
  padding: 1%;
    background-color:rgb(255, 244, 227);
 width: 100%;
   font-family: 'Sniglet', cursive;
    color: black;
  border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.back input:hover{
   background: black;
    color:rgb(255, 244, 227);
}

