* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline;
}

/*++++++++++++++++++++++*/
/*++++++++++++++++++++++*/
#uno {
    background: url(imagenes/dark_stripes.png);
    height: 100%;
    width: 100%;
    display: flex;
}
   #menu-bar{
        display: none;
    }

 header label{
    font-size: 30px;
    
     height: 50px;
    color: white;
     float: right;
    }
#uno #centro {
    justify-content: center;
    width: 70%;
    margin: 8% auto;
}

#centro  a {
text-decoration: none;
}

#uno #centro img {
    display: block;
    margin: auto;
    margin-bottom: 2%;
    width: 60%;
    height: 40%;
}

#uno #centro p {
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color: rgb(255, 244, 227);
    margin: auto;
    width: 80%;
    display: block;
}



/*++++++++++++++++++++++*/
/*++++++++++++++++++++++*/
#dos {
    background-color: rgb(61, 50, 137);
    height: 100%;
    width: 100%;

}

#dos h2 {
    font-size: 3em;
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Sniglet', cursive;
    color: rgb(255, 244, 227);
    padding-top: 100px;
}

#dos #canciones {
    transition-duration: 3s, 5s;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
}


/*++++++++++++++++++++++*/
/*++++++++++++++++++++++*/
#tres {
    background: url(imagenes/wood_1.png);

    height: 100%;;
    width: 100%;
    padding: 1%;

}

#tres h2 {
    font-size: 3em;
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Sniglet', cursive;
    color: rgb(255, 244, 227);
    padding-top: 100px;
}

/*++++++++++++++++++++++*/

/*++++++++++++++++++++++*/
@media (min-width: 768px){
    
   
   header {
    list-style: none;
    font-family: 'Sniglet', cursive;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    z-index: 100;
}
#logo{
   border: 5px solid rgb(255, 244, 227);  
    padding: 15px;
    margin-right: 15px;
     border-radius: 100px ;
    font-size: 40px;
}
i{
    
     font-family: 'Sniglet', cursive;
    color: rgb(255, 244, 227);
}
#nav {
    margin: auto;
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#nav li a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 244, 227);
}

#logo {

    background: url(walpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
    
}


/*++++++++++++++++++++++*/

/*++++++++++++++++++++++*/
#notengoheader {
    display: block;
    right: 5%;
    top: 40%;
    color: white;


    position: fixed;
    z-index: 100;
}

#notengoheader nav ul li:hover {
    color: rgb(251, 195, 24);

}

#notengoheader nav ul li:active {
    color: rgb(251, 195, 24);

}

#notengoheader nav ul li {
    font-size: 20px;
    font-family: 'Sniglet', cursive;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 5px;
    margin: 0px;
    color: rgb(255, 244, 227);
}

#notengoheader nav ul li a {
    font-size: 16px;
    margin-left: 15px;

}



/*++++++++++++++++++++++*/

/*********Media Queries*************/


@media (min-width: 768px){

    
    
}

/*  Tablets en horizonal y escritorios normales*/

@media (min-width: 768px) and (max-width: 1199px) {
    
    #uno #centro {
    justify-content: center;
    width: 90%;
    margin: 12% auto;
}
    #tercero > div{
    transition:  0.7 ease;
     transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    width: 50%;

}
    
}



/*  Móviles en vertical*/

@media (max-width: 480px) { 

#tercero > div{
    display: block;
    height: 45%;
    width: 100%;
    margin: 10% auto;

}
    #uno #centro img {
    display: block;
    margin: auto;
    margin-bottom: 2%;
    width: 80%;
    height: 30%;
}
    
    #uno #centro {
    justify-content: center;
    width: 100%;
    margin: 12% auto;
        height: 100%;
}
  #tercero > div{
    display: block;
    height: 9vh;
    width: 70%;
    margin: 2% auto;

}  

 }

/* Móviles en horizontal o tablets en vertical*/

@media (max-width: 767px) {
    
        #uno #centro img {
    display: block;
    margin: auto;
    margin-bottom: 2%;
    width: 90%;
    height: 30%;
}
    
#uno #centro p {
    font-weight: 700;
    font-size: 1.0em;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color: rgb(255, 244, 227);
    margin: auto;
    width: 80%;
    display: block;
}

    #uno #centro {
    justify-content: center;
    width: 100%;
    margin: 8% auto;
}
    
   #notengoheader{
        display: none;
    }    
 
       header {
    list-style: none;
    font-family: 'Sniglet', cursive;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    z-index: 100;
    }
    
    
    #tercero{
    
    display: inline-block;
 flex-wrap: wrap;
    margin: 1% auto;
    width: 49.4%;
        height: 35vh;
        justify-content:space-between;

    
}
    
    #nav {
display: none;
}

#nav li a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 244, 227);
}

#tercero > div{
    display: block;
    height: 45%;
    width: 80%;
    margin: 10% auto;

}
   #dos h2 {

    padding-top: 50px;
}    
    
       #tres h2 {

    padding-top: 50px;
} 
    
.back p{  display: none;
}    
    
}